<div snap-drawer class="snap" ng-if="user" ng-init="loadSong()">
  <div class="snap-container">
    <div class="cut-out">
      <span class="image-wrap " style="position:relative; display:inline-block; background:url(images/image-4.jpg) no-repeat center center; width: 150px; height: 150px;">
          <img src="images/image-4.jpg" style="opacity: 0;"></img>
      </span>
      <br/>
      <br/>
      @{{ user.username }}
    </div>
    <div class="thumb-container">
      <div class="col-xs-6 left">
        <!--<a ng-repeat="song in songs track by $index | filter:$index%2==0" ng-click="selectSong(song)">
          <img src="http://0.0.0.0:8000{{ song.art.artThumb }}" title="{{ song.artist.artistName }}" alt="{{ song.artist.artistName }}" class='thumb'/>
          <div class="caption">{{ song.artist.artistName }} <br/> {{ song.title }}</div>
        </a>-->
        <figure ng-repeat="song in songs" class="effect-sadie">
          <img src="http://0.0.0.0:8000{{ song.art.artThumb }}" title="{{ song.artist.artistName }}" alt="{{ song.artist.artistName }}"/>
          <figcaption>
            <!--<h2>Holy <span>Sadie</span></h2>-->
            <p>{{ song.artist.artistName }} <br>{{ song.title }}</p>
            <a href="" ng-click="selectSong(song)" >View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-xs-6 right">
      </div>
    </div>
  </div>
</div>

<div snap-drawer class="snap" ng-if="!user">
  <div class="snap-container">
    <div class="cut-out">
      <span class="image-wrap " style="position:relative; display:inline-block; background:url(images/image-4.jpg) no-repeat center center; width: 150px; height: 150px;">
          <img src="images/image-4.jpg" style="opacity: 0;"></img>
      </span>
    </div>
    <form id="signin" role="form">
      <div class="form-group">
        <input type="text" ng-model="username" class="form-control" id="username" placeholder="Username">
        <!-- TODO : Replace Sin by Mnemonic  -->
        <input type="text" ng-model="inputSin" class="form-control" id="mnemonic" placeholder="Sin">
      </div>
      <button type="button" class="btn btn-default" ng-click="login(inputSin, username)">Submit</button>
    </form>
    <center>Or</center>
    <button type="button" class="btn btn-default" ng-click="openDialog()">Sign in with card</button>
  </div>
</div> 

<div snap-content class="main">
  <div class="row vertical-center" >
    <span snap-toggle="left"><</span>
      <div ng-if="!selectedSong" class="wrapper">
        Creative Playlist
      </div>
      <player ng-if="selectedSong" song="selectedSong"></player>
    <!--<div class="empty">    </div>
    <audio controls>
      <source src="music/alt-J()/alt-J (∆) Breezeblocks.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>-->
  </div>
</div>
