<div class="dialog-contents" ng-controller="QrScannerCtrl">
    <center><qr-scanner ng-success="onSuccess(data)" ng-error="onError(error)" /></center>
</div>
    <script src="bower_components/jsqrcode/src/grid.js"></script>
    <script src="bower_components/jsqrcode/src/version.js"></script>
    <script src="bower_components/jsqrcode/src/detector.js"></script>
    <script src="bower_components/jsqrcode/src/formatinf.js"></script>
    <script src="bower_components/jsqrcode/src/errorlevel.js"></script>
    <script src="bower_components/jsqrcode/src/bitmat.js"></script>
    <script src="bower_components/jsqrcode/src/datablock.js"></script>
    <script src="bower_components/jsqrcode/src/bmparser.js"></script>
    <script src="bower_components/jsqrcode/src/datamask.js"></script>
    <script src="bower_components/jsqrcode/src/rsdecoder.js"></script>
    <script src="bower_components/jsqrcode/src/gf256poly.js"></script>
    <script src="bower_components/jsqrcode/src/gf256.js"></script>
    <script src="bower_components/jsqrcode/src/decoder.js"></script>
    <script src="bower_components/jsqrcode/src/qrcode.js"></script>
    <script src="bower_components/jsqrcode/src/findpat.js"></script>
    <script src="bower_components/jsqrcode/src/alignpat.js"></script>
    <script src="bower_components/jsqrcode/src/databr.js"></script>